<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../estilo/scripts/script.js"></script>
    <link href="../estilo/css/menu.css" rel="stylesheet">
    <link href="../estilo/css/index.css" rel="stylesheet">
    <link href="../estilo/css/form.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../estilo/imagens/planeta_si.png">
	<title>| Listar Garagem |</title>

</head>

<body>
  <div class="footer">
			<p>|   Planeta Carros - Projeto Integrador SENAI - Danilo Lopes Nascimento   |</p>
		</div>


<header>
        <nav>
            <a class="logo0" href="/">
                <img class="logo" src="../estilo/imagens/logo_planeta.png">
            </a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/cadastrarMarca">Cadastrar Marcas</a></li>
                <li class="nav-item"><a class="nav-link" href="/marcas"> Marcas</a></li>
                <li><a href="/cadastrarGaragem">Cadastrar Garagem</a></li>
                <li><a href="garagem">Garagens</a></li>
                <li><a href="/galeria">Galeria</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

<div class="container">
	<div class="con">

		<h1>Lista de Garagens cadastradas</h1>

		<br>


		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nome:</th>
					<th scope="col">Endereço:</th>
					<th scope="col">E-mail:</th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="garagem: ${garagens}">
					<td><a style="color:black;" th:href="${(#mvc.url('GC#vendedores').arg(0, garagem.id)).build()}">
							<span th:text="${garagem.nome}"></span></a></td>
					<td><span th:text="${garagem.endereco}"></span></td>
					<td><span th:text="${garagem.email}"></span></td>
					<td><a th:href="${(#mvc.url('GC#deletarGaragem').arg(0, garagem.id)).build()}"><button type="button"
								class="button2">Excluir</button></a></td>
					<td><a th:href="${(#mvc.url('GC#editarGaragem').arg(0, garagem.id)).build()}"><button type="button"
								class="button1">Editar</button></a></td>
					<td><a th:href="${(#mvc.url('GC#vendedores').arg(0, garagem.id)).build()}"><button
								type="button" class="button">Adicionar Funcionario</button></a></td>
				</tr>
			</tbody>
		</table>
</div>
</div>


		<div style="height: 100px;"></div>
<br>
  

    <script src="../estilo/scripts/menu.js"></script>
 
</html>


		
